<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kcsj.gwglxt.mapper.LogMapper" >

    <resultMap id="BaseResultMap" type="com.kcsj.gwglxt.entity.Log" >
        <id column="log_id" property="logId" jdbcType="CHAR" />
        <result column="log_user" property="logUser" jdbcType="CHAR" />
        <result column="log_content" property="logContent" jdbcType="VARCHAR" />
        <result column="creation_time" property="creationTime" jdbcType="CHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        log_id, log_user, log_content, creation_time
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kcsj.gwglxt.entity.LogExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from log
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from log
        where log_id = #{logId,jdbcType=CHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from log
        where log_id = #{logId,jdbcType=CHAR}
    </delete>

    <delete id="deleteByExample" parameterType="com.kcsj.gwglxt.entity.LogExample" >
        delete from log
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.kcsj.gwglxt.entity.Log" >
        insert into log (log_id, log_user, log_content, 
            creation_time)
        values (#{logId,jdbcType=CHAR}, #{logUser,jdbcType=CHAR}, #{logContent,jdbcType=VARCHAR}, 
            #{creationTime,jdbcType=CHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.kcsj.gwglxt.entity.Log" >
        insert into log
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="logId != null" >
                log_id,
            </if>
            <if test="logUser != null" >
                log_user,
            </if>
            <if test="logContent != null" >
                log_content,
            </if>
            <if test="creationTime != null" >
                creation_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="logId != null" >
                #{logId,jdbcType=CHAR},
            </if>
            <if test="logUser != null" >
                #{logUser,jdbcType=CHAR},
            </if>
            <if test="logContent != null" >
                #{logContent,jdbcType=VARCHAR},
            </if>
            <if test="creationTime != null" >
                #{creationTime,jdbcType=CHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.kcsj.gwglxt.entity.LogExample" resultType="java.lang.Integer" >
        select count(*) from log
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update log
        <set >
            <if test="record.logId != null" >
                log_id = #{record.logId,jdbcType=CHAR},
            </if>
            <if test="record.logUser != null" >
                log_user = #{record.logUser,jdbcType=CHAR},
            </if>
            <if test="record.logContent != null" >
                log_content = #{record.logContent,jdbcType=VARCHAR},
            </if>
            <if test="record.creationTime != null" >
                creation_time = #{record.creationTime,jdbcType=CHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update log
        set log_id = #{record.logId,jdbcType=CHAR},
            log_user = #{record.logUser,jdbcType=CHAR},
            log_content = #{record.logContent,jdbcType=VARCHAR},
            creation_time = #{record.creationTime,jdbcType=CHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.kcsj.gwglxt.entity.Log" >
        update log
        <set >
            <if test="logUser != null" >
                log_user = #{logUser,jdbcType=CHAR},
            </if>
            <if test="logContent != null" >
                log_content = #{logContent,jdbcType=VARCHAR},
            </if>
            <if test="creationTime != null" >
                creation_time = #{creationTime,jdbcType=CHAR},
            </if>
        </set>
        where log_id = #{logId,jdbcType=CHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.kcsj.gwglxt.entity.Log" >
        update log
        set log_user = #{logUser,jdbcType=CHAR},
            log_content = #{logContent,jdbcType=VARCHAR},
            creation_time = #{creationTime,jdbcType=CHAR}
        where log_id = #{logId,jdbcType=CHAR}
    </update>
</mapper>