<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kcsj.gwglxt.mapper.MyMapper">
    <resultMap id="BaseResultMap" type="com.kcsj.gwglxt.entity.manage">
        <id column="managerId" property="managerId" jdbcType="INTEGER"/>
        <result column="managerName" property="managerName" jdbcType="VARCHAR"/>
        <result column="managerPassword" property="managerPassword" jdbcType="VARCHAR"/>
        <result column="manageName" property="manageName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
            managerId, managerName, managerPassword, manageName
        </sql>

    <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM manager
    </select>

</mapper>