<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kcsj.gwglxt.mapper.PositionMapper" >

    <resultMap id="BaseResultMap" type="com.kcsj.gwglxt.entity.Position" >
        <id column="position_id" property="positionId"   />
        <result column="position_dept" property="positionDept"   />
        <result column="position_permission" property="positionPermission"   />
        <result column="position_name" property="positionName" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        position_id, position_dept, position_permission, position_name
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kcsj.gwglxt.entity.PositionExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from position
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from position
        where position_id = #{positionId,jdbcType=CHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from position
        where position_id = #{positionId,jdbcType=CHAR}
    </delete>

    <delete id="deleteByExample" parameterType="com.kcsj.gwglxt.entity.PositionExample" >
        delete from position
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.kcsj.gwglxt.entity.Position" >
        insert into position (position_id, position_dept, position_permission, 
            position_name)
        values (#{positionId,jdbcType=CHAR}, #{positionDept,jdbcType=CHAR}, #{positionPermission,jdbcType=CHAR},
            #{positionName,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.kcsj.gwglxt.entity.Position" >
        insert into position
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="positionId != null" >
                position_id,
            </if>
            <if test="positionDept != null" >
                position_dept,
            </if>
            <if test="positionPermission != null" >
                position_permission,
            </if>
            <if test="positionName != null" >
                position_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="positionId != null" >
                #{positionId,jdbcType=CHAR},
            </if>
            <if test="positionDept != null" >
                #{positionDept,jdbcType=CHAR},
            </if>
            <if test="positionPermission != null" >
                #{positionPermission,jdbcType=CHAR},
            </if>
            <if test="positionName != null" >
                #{positionName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.kcsj.gwglxt.entity.PositionExample" resultType="java.lang.Integer" >
        select count(*) from position
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update position
        <set >
            <if test="record.positionId != null" >
                position_id = #{record.positionId,jdbcType=CHAR},
            </if>
            <if test="record.positionDept != null" >
                position_dept = #{record.positionDept,jdbcType=CHAR},
            </if>
            <if test="record.positionPermission != null" >
                position_permission = #{record.positionPermission,jdbcType=CHAR},
            </if>
            <if test="record.positionName != null" >
                position_name = #{record.positionName,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update position
        set position_id = #{record.positionId,jdbcType=CHAR},
            position_dept = #{record.positionDept,jdbcType=CHAR},
            position_permission = #{record.positionPermission,jdbcType=CHAR},
            position_name = #{record.positionName,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.kcsj.gwglxt.entity.Position" >
        update position
        <set >
            <if test="positionDept != null" >
                position_dept = #{positionDept,jdbcType=CHAR},
            </if>
            <if test="positionPermission != null" >
                position_permission = #{positionPermission,jdbcType=CHAR},
            </if>
            <if test="positionName != null" >
                position_name = #{positionName,jdbcType=VARCHAR},
            </if>
        </set>
        where position_id = #{positionId,jdbcType=CHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.kcsj.gwglxt.entity.Position" >
        update position
        set position_dept = #{positionDept,jdbcType=CHAR},
            position_permission = #{positionPermission,jdbcType=CHAR},
            position_name = #{positionName,jdbcType=VARCHAR}
        where position_id = #{positionId,jdbcType=CHAR}
    </update>
</mapper>